    
     <!-- /.card-header -->
     <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Code</th>
              <th>Region</th>
              
            </tr>
          </thead>
     <tbody>
        <tr *ngFor="let customer of Customers let i = index">
                <td>{{customer.customerCode}}</td>
                <td>{{customer.customerName}}</td>
            
            </tr> 
                    
        </tbody>
    </table>
</div>