<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
     
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
           <!-- TABLE: LATEST ORDERS -->
            <div class="card">
                <div class="card-header border-transparent">
                    <div style="float:left;"><h3 class="card-title">Screen Centers</h3></div>
                    <div style="float:right;"><a [routerLink]="['/createscreeningcenter']" class="btn btn-sm btn-info float-left">Add New Screen Center</a></div>
                </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Screening ID</th>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let Screencenter of ScreeningCenters">
                      <td>{{Screencenter.scrCenterId}}</td>
                      <td>{{Screencenter.name}}</td>
                      <td>
                        <span class="badge badge-success"><a [routerLink]="['/editscreeningcenter']">Update</a></span> |
                        <span class="badge badge-danger">Delete</span>
                    </td>
                    </tr>
                   
                   </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <!-- <div class="card-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
              </div> -->
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
         
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->