
.card-top {
  top: 5em;

}
.btn-primary {
  color: #fff;
  background-color: #0E76B7;
  border-color: #0E76B7;
}

.btn-secondary {
  color: #111;
  background-color: #dbdbdb;
  border-color: #d5d5d5;
}

